* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: url('bground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#main {
    width: 40%;
    height: 500px;
    background-color: rgba(219, 190, 157, 0.801);
    text-align: center;
    float: left;
    box-shadow: 0 0 5px #4267b2;
    margin: 40px 10px 0 150px;
}
#head0{
    background-color: rgba(240, 159, 66, 0.589);
    width: 100%;
    height: 55px;
    color: black;
    padding: 10px;
    margin-bottom: 60px;
}
#main input{
    height: 30px;
    width: 45%;
    margin-bottom: 10px;
    font-size: 20px;
}
#main label{
    display: inline-block;
    width: 150px;
    text-align: left;
    font-size: 23px;
    padding-right: 50px;
    margin-bottom: 10px;
}
.btn1{
    outline: none;
    border: none;
    width: 14%;
    height: 40px;
    margin-right: 30px;
    margin-top: 50px;
    font-size: 22px;
    background-color: rgba(240, 159, 66, 0.589);
}
.btn2{
    outline: none;
    border: none;
    width: 20%;
    height: 40px;
    margin-right: 30px;
    margin-top: 50px;
    font-size: 22px;
    background-color: rgba(240, 159, 66, 0.589);
}
.btn3{
    outline: none;
    border: none;
    width: 14%;
    height: 40px;
    margin-right: 30px;
    margin-top: 50px;
    font-size: 22px;
    background-color: rgba(240, 159, 66, 0.589);
}
#result{
    height: 500px;
    width: 30%;
    float: left;
    margin-top: 40px;
    background-color: white;
}
#head1, #head2, #head3{
    background-color: rgba(253, 155, 43, 0.637);
    box-shadow: 0 0 5px #4267b2;
    width: 100%;
    height: 45px;
    color: black;
    text-align: center;
}
#total{
    height: 200px;
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 136, 0, 0.534);
    box-shadow: 0 0 5px #4267b2;
    font-size: 19px;
    font-weight: 600;
}
#grade{
    height: 85.1px;
    width: 100%;
    padding: 20px;
    background-color:  rgba(224, 148, 60, 0.63);
    box-shadow: 0 0 5px #4267b2;
    font-size: 19px;
    font-weight: 600;
}
#ave{
    height: 80px;
    width: 100%;
    padding: 20px;
    background-color:  rgba(224, 148, 60, 0.63);
    box-shadow: 0 0 5px #4267b2;
    font-size: 19px;
    font-weight: 600;
}